<body>
  <style>

  .container{
    padding:50px;
    width: 300px;
    height: 100px;
  }

  p.none {
    line-height: 0.1;
  }
    p.small {
    line-height: 0.5;
  }

  p.big {
    line-height: 1.8;
  }

  p.normal {
    line-height: 1.1;
  }

  input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 300px;
    margin: 8px 0;
    padding: 7px 5px;
    display: inline-block;
    box-sizing: border-box;
  }

  textarea[type=text]{
    width: 300px;
    height: 200px;
    margin: 8px 0;
    padding: 7px 5px;
    display: inline-block;
    box-sizing: border-box;
  }

  </style>

  <div class="divCadastrar">

    <p class= "none"><label>Mudar Senha </label></p>
    <p class= "none"><input #password type="text" id="senhaCadastrar" placeholder="Digite uma senha" ngModel required></p>

    <p class= "none"><label>Alterar E-mail</label></p>
    <p class= "none"><input #email type="text" id="emailCadastrar" placeholder="Digite um e-mail válido" ngModel required></p>

    <p class= "none"><label>Alterar Telefone</label></p>
    <p class= "none"><input #phone type="number" id="telCadastrar" placeholder="Digite seu telefone" ngModel required></p>

    <p class= "none"><label>Alterar Descrição </label></p>
    <p class= "none"><textarea #description type="text" id="descrCadastrar" form="usrform" placeholder="Descreva sobre sua carreira"></textarea></p>
  </div>


    <p class= "none"><button id="btnCriar" (click)="changeCadastro(password.value, email.value, phone.value, description.value)">Finalizar</button></p>
    <p class= "none"><button type="button" value="Voltar" onclick = history.back()>Voltar </button></p>
  </body>
