
<style>

  .container{
    padding:50px;
    width: 300px;
    height: 100px;
  }

  p.none {
    line-height: 0.1;
  }
    p.small {
    line-height: 0.5;
  }

  p.big {
    line-height: 1.8;
  }

  p.normal {
    line-height: 1.1;
  }

  input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 300px;
    margin: 8px 0;
    padding: 7px 5px;
    display: inline-block;
    box-sizing: border-box;
  }

  textarea[type=text]{
    width: 300px;
    height: 200px;
    margin: 8px 0;
    padding: 7px 5px;
    display: inline-block;
    box-sizing: border-box;
  }
  </style>

<p>Preencha as informaçoes da nova pesquisa</p>
<div id="divCriar">
    <input style="display: block; margin-bottom: 5px;" #titulo type="text" id="nomePesq" name="palavra" placeholder="Título" ngModel/>
    <input style="display: block; margin-bottom: 5px" #urlPDF type="text" id="urlPDF" name="urlPDF" placeholder="URL do PDF" ngModel/>
    <input style="display: block; margin-bottom: 5px" #comentario type="text" id="comentario" name="comentario" placeholder="Comentário" ngModel/>
    <button id="btnCriar" (click)="addPesquisa(titulo.value, urlPDF.value, comentario.value)">Criar Pesquisa</button>
</div>
